main {
    width: 100%;
    max-height: 600px;
    overflow: auto;
    border: 1px solid #999;
    padding: 10px;
}

main table {
    border-collapse: collapse;
    width: 100%;
}

main th, main td {
    border: 1px solid #999;
    padding: 6px 10px;
    min-width: 80px;
    text-align: left;
}

main th {
    background: #f0f0f0;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

main td.num {
    text-align: right;
}

main td.text {
    text-align: left;
}
