main h1, h2 {
  color: #232f3e;
  margin-bottom: 1em;
}

input[type="file"] {
  margin-bottom: 1rem;
}

button {
  padding: 0.5rem 1rem;
  background-color: #0078d4;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #005fa3;
}